<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Jenkins Job DSL Playground</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/codemirror-3.21/lib/codemirror.css">
    <link rel="stylesheet" href="/lib/codemirror-3.21/addon/fold/foldgutter.css">
    <link rel="stylesheet" href="/lib/codemirror-3.21/theme/pastel-on-dark.css">
    <link rel="stylesheet" href="/lib/jquery-ui-1.10.3/jquery-ui.min.css">
    <link rel="stylesheet" href="/lib/jquery-layout/css/jquery.layout.css">
    <link rel="stylesheet" href="/styles/app.1.css">
</head>
<body style="visibility: hidden">
<div class="header">
    <h1>Jenkins Job DSL Playground</h1>
    <span class="docs"><a href="https://github.com/jenkinsci/job-dsl-plugin/wiki/Job-DSL-Commands">Docs</a></span>
    <% if (model.id) {%>
    <span class="gist">
        <a href="https://gist.github.com/${model.id}"><i class="fa fa-github"></i> ${model.id}</a>
    </span>
    <% } %>
</div>
<div class="main">
<div class="input">
    <div class="title">
        <span class="source-type">Groovy</span>
        <div class="controls">
            <button class="btn btn-default execute"><i class="fa fa-play"></i> Run</button>
            <i class="fa fa-refresh fa-spin loading" style="display: none"></i>
        </div>
    </div>
    <div class="content">
        <textarea>
job {
  name 'ci'
  description 'Build and test the app.'
  scm {
    git {
      remote {
        github 'sheehan/job-dsl-playground'
      }
    }
  }
  steps {
    gradle 'test'
  }
  publishers {
    archiveJunit 'build/test-results/**/*.xml'
  }
}
        </textarea>
    </div>
</div>
<div class="output">
    <div class="title"><span class="source-type">XML</span></div>
    <div class="content">
        <div class="code-wrapper">
            <textarea></textarea>
        </div>
    </div>
</div>
</div>
<div class="footer">
    <span class="version">Job DSL version: 1.27</span>
    <span class="playground-source"><a href="https://github.com/sheehan/job-dsl-playground">Source</a></span>
</div>

<script src="/scripts/jquery-2.1.0.min.js"></script>
<script src="/scripts/underscore-min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/codemirror-3.21/lib/codemirror.js"></script>
<script src="/lib/codemirror-3.21/addon/fold/foldcode.js"></script>
<script src="/lib/codemirror-3.21/addon/fold/foldgutter.js"></script>
<script src="/lib/codemirror-3.21/addon/fold/xml-fold.js"></script>
<script src="/lib/codemirror-3.21/mode/groovy/groovy.js"></script>
<script src="/lib/codemirror-3.21/mode/xml/xml.js"></script>
<script src="/lib/jquery-ui-1.10.3/jquery-ui.min.js"></script>
<script src="/lib/jquery-layout/js/jquery.layout-latest.min.js"></script>
<script src="/scripts/app.1.js"></script>
<script>
    jQuery(function(){
        App.start(${model.json});
    });
</script>
</body>
</html>
