body {
    background: url('/images/binding_dark.png');
}

.header.ui-layout-pane  {
    padding: 30px 0 20px;
    /*border-bottom: 1px solid #444;*/
    /*background-color: #222;*/
}

.header h1 {
    color: #aaa;
    font-size: 26px;
    margin: 0;
    float: left;
}

.header .docs {
    float: right;
    line-height: 26px;
}
.header .docs a {
    color: #aaa;
}

.footer.ui-layout-pane  {
    padding: 10px 0 20px;
    color: #aaa;
}

.footer .playground-source {
    float: right;
}
.footer .playground-source a {
    color: #aaa;
}

.title {
    padding: 5px;
    height: 35px;
    line-height: 25px;
    color: #aaa;
    background-color: #444;
}

.title .source-type {
    float: right;
    margin-right: 10px;
}

.input .title {
    overflow: hidden;
}

.input .title .controls {
    display: inline;
}

.input .title .controls button {
    padding: 2px 7px;
    font-size: 12px;
    background-color: #ccc;
    color: #333;
    border-radius: 2px;
    border-color: #888;
}

.input .title .controls .loading {
    margin-left: 10px;
}

.output .title {
    position: relative;
}

body {
    padding: 0 40px;
}

.main.ui-layout-pane {
    border: 3px solid #777;
}

.input.ui-layout-pane {
    padding: 0;
}

.output.ui-layout-pane {
    padding: 0;
}

.output .code-wrapper {
    height: 100%;
}

.CodeMirror {
    height: 100%;
    border: solid #444;
    border-width: 1px 0 0;
}

.CodeMirror.cm-s-pastel-on-dark {
    line-height: 1.3;
    font-family: monospace;
}

.ui-layout-pane {
    padding: 0;
    border: 0;
    background: transparent;
    box-sizing: content-box;
}

.ui-layout-content {
    padding: 0;
}

.ui-layout-resizer {
    background-color: #777;
}

.ui-layout-resizer.ui-layout-resizer-open-hover {
    background-color: #5c5857;
}