body {
    background-color: #2c2827;
}

.title {
    padding: 5px;
    height: 35px;
    line-height: 25px;
    color: #aaa;
    margin-bottom: 10px;
}

.input .title {
    overflow: hidden;
}

.input .title .controls {
    display: inline;
    margin-left: 10px;
}

.input .title .controls button {
    padding: 2px 7px;
    font-size: 12px;
    background-color: #444;
    color: #ccc;
    border-radius: 3px;
    border-color: #888;
}

.input .title .controls .loading {
    margin-left: 10px;
}

.output .title {
    position: relative;
}

.output .title a.close-it {
    position: absolute;
    right: 8px;
    top: 5px;
    color: #aaa;
}

.input.ui-layout-pane {
    padding: 10px 10px 20px 20px;
}

.output.ui-layout-pane {
    padding: 10px 0 20px 0;
}

.output .code-wrapper {
    height: 100%;
}

.output .about-wrapper {
    color: #aaa;
}

.output .about-wrapper p {
    width: 400px;
}

header .navbar {
    border-bottom: 1px solid #ccc;
    border-width: 0 0 1px 0;
    border-radius: 0;
    margin-bottom: 0;
}

.CodeMirror {
    height: 100%;
    /*font-size: 14px;*/
}

.CodeMirror.cm-s-pastel-on-dark {
    line-height: 1.3;
    font-family: monospace;
}

.ui-layout-pane {
    padding: 0;
    border: 0;
    background: transparent;
    box-sizing: content-box;
}

.ui-layout-content {
    padding: 0;
}

.ui-layout-resizer {
    background-color: transparent;
}

.ui-layout-resizer.ui-layout-resizer-open-hover {
    background-color: #5c5857;
}